body {
  margin: 0;
  height: 575px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  width:100%;
  height: 65px;
  border-bottom: 4px solid black;
  display: flex;
  gap:40px;
}

.nav-heading{
  font-size: 2.9em;
  margin-top: 0px;
  margin-left:15px;
}

.nav-btn{
  font-size: 1.6em;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.nav-btn:hover{
  text-decoration: underline;
}

.main{
  display: flex;
  align-items:flex-start;
}

.container{
  padding:8px;
  margin:0px;
  border:2px solid black;
  border-top: none;
  border-left: none;
  font-size: 1em;
}

.container h2{
  margin:0px
}

.scrollable{
  overflow: scroll;
  overflow-x: hidden;
  max-height: 410px;
}

.search-bar{
  width:93%;
  padding:9px;
  border-radius: 15px;
  font-size: 1.4em;
}

.filters{
  font-size: 1.2em;
  margin-top: 5px;
  margin-left:5px;
}

.details{
  overflow-y: scroll;
  height: 220px;
}

.map{
  height: 250px;
}

.review-list{
  overflow-y: scroll;
  height: 230px;
}

.review{
  margin-bottom: 10px;
}

.review h3{
  margin:0px;
}

.review p{
  margin:0px;
  padding:5px;
  border: 1px solid black;
  overflow-y: scroll;
  max-height: 50px;
}

.review-input{
  padding:3px;
  border-radius: 3px;
  border: 1px solid black;
  margin-left:5px;
  margin-bottom: 7px;
  width:250px
}

.form-area{
  height: 50px;
  width:95%;
  margin-bottom: 5px;
}

.btn{
  padding: 4px;
  border:2px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding-left:15px;
  padding-right:15px
}